body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: white;
}

.navbar-header{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #151515;
    height: 50px;
}

div ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0 1em;
}

#prof{
    width: 500px;
    height: 500px;
    margin-top: 100px;
}

h1{
    text-align: center;
}

.card{
    margin-top: 100px;
}

.portfolio {
    padding: 6%;
    text-align: center;
}

.heading {
    background: #fff;
    padding: 1%;
    text-align: left;
    box-shadow: 0px 0px 4px 0px #545b62;
}

.heading img { width: 10%; }

.bio-info {
    padding: 5%;
    background: #fff;
    box-shadow: 0px 0px 4px 0px gray;
}

.name {
    font-family: 'Charmonman', cursive;
    font-weight: 600;
}

.h4{
    margin-top: 40px;
}

.bio-image { 
    text-align: center; 
}

.bio-image img { 
    width: 400px;
    height: 400px;
}

.bio-content { text-align: left; }

.bio-content p {
    font-weight: 600;
    font-size: 30px;
}

.hr{
  height: 1px; 
  background-color: darkgray;
  margin-top: 50px;
}

