<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CV</title>
    <link rel="stylesheet" href="../../styles/index.css" />
</head>

<body>
    <div class="container">
        <header>
            <ul class="menu">
                <li><a href="#">Radoslav Radoev</a></li>
            </ul>
        </header>
        <main>
            
        </main>
        <footer>
            <div>
                <p id="gray" align="center">&copy; 2018 - captain-radko. All rights reserved.</p>
            </div>
        </footer>
    </div>
</body>

</html>