<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CV</title>
    <link rel="stylesheet" href="../../styles/index.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
        integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header fixed-top">
                <div class="nav">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a class="navbar-brand" href="#">Radoslav Radoev</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</body>

</html>