<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CV</title>
    <link rel="stylesheet" href="../../static/styles/index.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
        integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
</head>

<body>
    <div class="container body-content">
        <div class="container portfolio">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <img src="https://image.ibb.co/cbCMvA/logo.png" />
                    </div>
                </div>
            </div>
            <div class="bio-info">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bio-image rounded">
                                    <img class="rounded-circle"
                                        src="../../static/images/36270233_1798028276950160_4945274968666537984_n.jpg"
                                        alt="image" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="bio-content">
                            <h1>Personal Information</h1>
                            <h4 class="h4">Full Name: Radoslav Rumenov Radoev</h4>
                            <h4 class="h4">Citizenship: Bulgarian</h4>
                            <h4 class="h4">Domicile: Svoge, Bulgaria</h4>
                            <h4 class="h4">Birth Date: 30.11.1998</h4>
                            <h4 class="h4">Sex: Male</h4>
                        </div>
                    </div>
                </div>
                <hr class="hr">
            </div>
        </div>
    </div>
</body>

</html>